<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <!-- pojo 指定 *Mapper.xml 中 resultMap type 类型 -->
	<typeAliases>
		<typeAlias alias="User" type="com.kljx.pojo.User" />
			
	</typeAliases>
	
	<!-- 指定 *Mapper.xml 目录位置 -->
	<mappers>
		<mapper resource="com/kljx/mapper/UserMapper.xml" />
		
	</mappers>

</configuration>	
			